<!DOCTYPE html>
<html lang="en">
<head> <!--ARREGLAR-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />
    <link th:href="@{/index.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>Detalle producto</title>
</head>
<!-- Header -->
<header th:insert="fragments/menu :: menu-principal"></header>

<body>  
<div class="card cardDetalleGrande">
<div class="container">
    <div class="container">
        <nav aria-label="breadcrumb" class= "card-header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
              <li class="breadcrumb-item"><a th:href="@{/libros}">Catálogo</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detalle producto</li>
            </ol>
          </nav>
        <div class="row row-cols-12"> <!--imagen del producto-->
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 contenedorImagen ">
                <img th:src="@{/img/{img} (img=${libro.imagen})}" alt="libro" class="mt-4 mb-4 productoDetalle">
            </div>
            
            
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-6"> <!--card que tiene el detalle del producto-->
                <div class="cardDetalle text-center mt-4 vh-80 align-items-center">
	                    <div class="card-header ">
	                    		<span th:text="${libro.autor.nombre}"> </span>
	                        	<span th:text="${libro.autor.apellidos}"> </span>
	                    </div>
                        <div class="card-body">
                            <h5 class="card-title"><span th:text="${libro.titulo}"></span> ( <em><span th:text="${libro.tipo}"></span></em>  )</h5>
                            <p class="card-text">Saga: <span th:text="${libro.saga}"></span></p>
                        </div>
                        <div class="card-footer">
                            <a class="btn botonCard" type="button" href="#"><i class="bi bi-bookmark-plus"> Reservar </i></a>
                        </div>
                    </div>
                </div>
            </div>       
        </div> 
        
    </div> <!--containter que agrupa el detalle producto menos el display de + info-->

    <div class="mt-2"> <!--div para nota de aviso-->
        <p class="note note-warning">
            <i class="fas fa-exclamation-circle"></i>
            <strong>Aviso:</strong> Recuerde que los libros una vez reservados tienen un tiempo de 15 días en los que tendrá que devolverlo. De no ser así se penalizará sin días de reserva para futuros libros.
        </p>
    </div>


    <div class="m-4">
        <ul class="nav nav-tabs nav-justified " id="myTab">
            <li class="nav-item navItemDetail" role="presentation">
                <a href="#detalles" class="nav-link active" data-bs-toggle="tab">Detalles</a>
            </li>
            <li class="nav-item navItemDetail" role="presentation">
                <a href="#autor" class="nav-link" data-bs-toggle="tab" >Autor</a>
            </li>
            <li class="nav-item navItemDetail" role="presentation">
                <a href="#more" class="nav-link" data-bs-toggle="tab">Más detalles</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="detalles">
                <h4 class="mt-2 lead fw-bold">Resumen</h4>
               	<p th:text="${libro.descripcion}"></p>
               	<p>Número de páginas: <span th:text="${libro.paginas}"></span></p>
            </div>
            <div class="tab-pane fade" id="autor">
                <h4 class="mt-2 lead fw-bold">Sobre el autor</h4>
                <div class="row">
                	<div class="col-6">
	                	<p>Su autor es <span th:text="${libro.autor.nombre}"> </span> <span th:text="${libro.autor.apellidos}"> </span></p>
	                	<p> <span th:text="${libro.autor.nombre}"> </span> actualmente se encuentra <span th:text="${libro.autor.status}"></span> </p>
                	</div>
                	 <div class="col-6">
	               		 <img th:src="@{/img/{img} (img=${libro.autor.imagen})}" alt="autor" class="mt-4 mb-4 autorDetalle">
	               </div>
                </div>
                
                </div>
            <div class="tab-pane fade" id="more">
                <h4 class="mt-2 lead fw-bold">La editorial</h4>
	                <p>Nombre de la editorial: <span th:text="${libro.editorial.nombre}"></span></p>
		            <p>Año de fundación: <span th:text="${libro.editorial.fundacion}"></span></p>
		            <p>Localización:  <span th:text="${libro.editorial.direcionSede}"></span></p>
                    <span th:text="${libro.editorial.url}"></span>
            </div>
        </div>
    </div>
</div> <!--contenedor grupal y global-->

<div class="b-example-divider"></div>
<footer th:insert="fragments/footer" class="text-center text-lg-start bg-light text-muted" ></footer>

</body>
</html>