<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions Answers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />
    <link href="../../index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>

      <!-- Header -->
      <header>
        <div class="b-example-divider"></div>
        <nav class="py-2 bg-light border-bottom header">
          <div class="container d-flex flex-wrap ">
            <ul class="nav me-auto">
              <li class="nav-item"><a href="../inicio/index.html" class="nav-link link-dark px-2 active" aria-current="page">Inicio</a></li>
              <li class="nav-item"><a href="../noticias/gruponoticias.html" class="nav-link link-dark px-2">Noticias</a></li>
              <li class="nav-item"><a href="../catalogo/productos.html" class="nav-link link-dark px-2">Catálogo</a></li>
              <li class="nav-item"><a href="../fa/FA.html" class="nav-link link-dark px-2">FAQs</a></li>
              <li class="nav-item"><a href="../historia/sobre biblioteca.html" class="nav-link link-dark px-2">Historia</a></li>
            </ul>
            <ul class="nav">
              <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
              <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
            </ul>
          </div>
        </nav>
        <header class="py-3 header ">
          <div class="container d-flex flex-wrap justify-content-center">
              <div class="container d-flex flex-wrap justify-content-center">
            <a href="../inicio/index.html" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
                  <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
                </svg>
              <span class="fs-4">BIBLIOTECA DEL MAR</span>
            </a>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
          </div>
        </header>
       <!-- Header -->
        <div class="b-example-divider"></div> 
      </header>


<div>

    <div
        class="p-5 text-center bg-image"
        style="
            background-image: url('../../static/img/FondoPreguntasRespuestas.png');
            height: 400px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Preguntas más frecuentes</h1>
            </div>
            </div>
        </div>
    </div>
   
    <div class="mt-2 mb-2"> <!--contenedor que agrupa las preguntas-->
       
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item  mb-1">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <i class="fas fa-question-circle"></i> &nbsp; ¿Se necesita el carnet para ir a las bibliotecas?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>No es necesario, el carnet solo se utiliza para reservar libros o para utilizar recursos de la propia biblioteca.</p>
              <p>La posesión del carnet permite al lector:</p>
              <ul>
                <li>Llevar libros, lectores de libros electrónicos, películas, cds de música, cd-roms, etc. a domicilio. Es imprescindible presentarlo para llevar documentos en préstamo</li>
                <li>Poder usar en la Biblioteca portátiles, cascos...</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item  mb-1">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <i class="fas fa-question-circle"></i> &nbsp; ¿Cuánto cuesta hacer el carnet? 
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Puede solicitar el carnet de usuario de forma presencial en la planta baja de la Biblioteca, cubriendo el formulario impreso y aportando una foto, o bien a través de internet y remitiendo la foto correspondiente al correo electrónico <a class="link" href="mailto:bibliotecadelmar.consulta@gmail.com">bibliotecadelmar.consulta@gmail.com</a></p>
              <p>Para recogerlo es preciso presentar algún documento oficial que acredite la identidad (DNI, carnet de conducir, pasaporte, NIE... ).</p>
            </div>

          </div>
        </div>
        <div class="accordion-item mb-1">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <i class="fas fa-question-circle"></i> &nbsp; ¿Cómo puedo donar a la biblioteca?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>La donación de documentos (libros, películas, CD, etc.) es otra de las vías de ampliación de nuestro catálogo. La Biblioteca la agradece siempre y cuando se ajuste a su política de desarrollo de la colección y los ejemplares estén en un estado de conservación aceptable.</p>
              <p>Los documentos se entregarán en el mostrador principal y, en ese momento, la persona donante deberá de cubrir un formulario confirmando su voluntad de transferirle la propiedad de las obras entregadas a la Biblioteca.</p>
              <p>Recuerda, antes de acercarte a la biblioteca, infórmanos de tu propuesta para no hacer el viaje en balde, llamando al telefono (<span class="fw-bold">+34 289 356 192</span>).</p>
            </div>
          </div>
        </div>
        <div class="accordion-item  mb-1">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              <i class="fas fa-question-circle"></i> &nbsp; ¿Cómo puedo reservar un libro de la biblioteca?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>A veces, buscas en el <a class="link" href="../catalogo/productos.html">catálogo de la Biblioteca</a> un libro concreto  y descubres que ya está prestado/-a. En ese caso puedes optar por hacer una reserva.</p>
              <p> Para eso, dirígete al personal de mostrador y pide que realicen la gestión por ti o contacta con nosotros por teléfono (<span class="fw-bold">+34 289 356 192</span>).</p>
              <p>En cuanto la persona que está haciendo uso de ese material lo devuelva, te lo haremos saber (por teléfono y/o por correo electrónico). Recuerda que el plazo para recoger las reservas es de 3 días a partir del aviso. Una vez trascurrido ese período, procederemos a anular la reserva y correr el turno.</p>
              <p class="fw-bold">NOTA: Puedes hacer un máximo de seis reservas.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading5">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
              <i class="fas fa-question-circle"></i> &nbsp; Se me pasó el tiempo del libro, ¿cómo puedo renovar el préstamo?
            </button>
          </h2>
          <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>La renovación se podrá realizar (por teléfono, en la propia biblioteca o a través de la web, accediendo a la sesión de usuario/-a) transcurridos <span class="fw-bold">5 días desde la formalización del préstamo</span> y hasta el día de su vencimiento..</p>

              <p>Para renovar por internet, tienes que entrar en el <a class="link" href="../catalogo/productos.html">catálogo de la Biblioteca</a>, identificándote con tu número de lector/-a y contraseña. </p>
              <p class="fw-bold">NOTA: Si el documento tiene ya una reserva, no podrá ser renovado.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
</div> <!--agrupa la foto y el contenido de las preguntas-->
      
    <!-- Footer -->
    <div class="b-example-divider"></div>
    <footer class="text-center text-lg-start bg-light text-muted" >
        <!-- Section: Social media -->
        <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
        </section>
        <!-- Section: Social media -->
    
        <!-- Section: Links  -->
        <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Company name
                </h6>
                <p>
                Here you can use rows and columns to organize your footer content. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                Products
                </h6>
                <p>
                <a href="#!" class="text-reset">Angular</a>
                </p>
                <p>
                <a href="#!" class="text-reset">React</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Vue</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Laravel</a>
                </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                Useful links
                </h6>
                <p>
                <a href="#!" class="text-reset">Pricing</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Settings</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Orders</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Help</a>
                </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                Contact
                </h6>
                <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p>
                <i class="fas fa-envelope me-3"></i>
                info@example.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        </section>
        <!-- Section: Links  -->
    
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
        <div class="b-example-divider"></div>   
    </footer>
    
    <!-- Footer -->
    
</body>
</html>