<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions Answers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />
    <link th:href="@{/index.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<!-- header -->
<header th:insert="fragments/menu :: menu-principal"></header>
<!-- header -->
<body>
<div>
    <div
        class="p-5 text-center bg-image"
        style="
            background-image: url('/img/FondoPreguntasRespuestas.png');
            height: 400px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Preguntas más frecuentes</h1>
            </div>
            </div>
        </div>
    </div>
   
    <div class="mt-2 mb-2"> <!--contenedor que agrupa las preguntas-->
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item  mb-1">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <i class="fas fa-question-circle"></i> &nbsp; ¿Se necesita el carnet para ir a las bibliotecas?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>No es necesario, el carnet solo se utiliza para reservar libros o para utilizar recursos de la propia biblioteca.</p>
              <p>La posesión del carnet permite al lector:</p>
              <ul>
                <li>Llevar libros, lectores de libros electrónicos, películas, cds de música, cd-roms, etc. a domicilio. Es imprescindible presentarlo para llevar documentos en préstamo</li>
                <li>Poder usar en la Biblioteca portátiles, cascos...</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item  mb-1">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <i class="fas fa-question-circle"></i> &nbsp; ¿Cuánto cuesta hacer el carnet? 
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Puede solicitar el carnet de usuario de forma presencial en la planta baja de la Biblioteca, cubriendo el formulario impreso y aportando una foto, o bien a través de internet y remitiendo la foto correspondiente al correo electrónico <a class="link" href="mailto:bibliotecadelmar.consulta@gmail.com">bibliotecadelmar.consulta@gmail.com</a></p>
              <p>Para recogerlo es preciso presentar algún documento oficial que acredite la identidad (DNI, carnet de conducir, pasaporte, NIE... ).</p>
            </div>

          </div>
        </div>
        <div class="accordion-item mb-1">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <i class="fas fa-question-circle"></i> &nbsp; ¿Cómo puedo donar a la biblioteca?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>La donación de documentos (libros, películas, CD, etc.) es otra de las vías de ampliación de nuestro catálogo. La Biblioteca la agradece siempre y cuando se ajuste a su política de desarrollo de la colección y los ejemplares estén en un estado de conservación aceptable.</p>
              <p>Los documentos se entregarán en el mostrador principal y, en ese momento, la persona donante deberá de cubrir un formulario confirmando su voluntad de transferirle la propiedad de las obras entregadas a la Biblioteca.</p>
              <p>Recuerda, antes de acercarte a la biblioteca, infórmanos de tu propuesta para no hacer el viaje en balde, llamando al telefono (<span class="fw-bold">+34 289 356 192</span>).</p>
            </div>
          </div>
        </div>
        <div class="accordion-item  mb-1">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              <i class="fas fa-question-circle"></i> &nbsp; ¿Cómo puedo reservar un libro de la biblioteca?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>A veces, buscas en el <a class="link" href="../catalogo/productos.html">catálogo de la Biblioteca</a> un libro concreto  y descubres que ya está prestado/-a. En ese caso puedes optar por hacer una reserva.</p>
              <p> Para eso, dirígete al personal de mostrador y pide que realicen la gestión por ti o contacta con nosotros por teléfono (<span class="fw-bold">+34 289 356 192</span>).</p>
              <p>En cuanto la persona que está haciendo uso de ese material lo devuelva, te lo haremos saber (por teléfono y/o por correo electrónico). Recuerda que el plazo para recoger las reservas es de 3 días a partir del aviso. Una vez trascurrido ese período, procederemos a anular la reserva y correr el turno.</p>
              <p class="fw-bold">NOTA: Puedes hacer un máximo de seis reservas.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading5">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
              <i class="fas fa-question-circle"></i> &nbsp; Se me pasó el tiempo del libro, ¿cómo puedo renovar el préstamo?
            </button>
          </h2>
          <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>La renovación se podrá realizar (por teléfono, en la propia biblioteca o a través de la web, accediendo a la sesión de usuario/-a) transcurridos <span class="fw-bold">5 días desde la formalización del préstamo</span> y hasta el día de su vencimiento..</p>

              <p>Para renovar por internet, tienes que entrar en el <a class="link" href="../catalogo/productos.html">catálogo de la Biblioteca</a>, identificándote con tu número de lector/-a y contraseña. </p>
              <p class="fw-bold">NOTA: Si el documento tiene ya una reserva, no podrá ser renovado.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
</div> <!--agrupa la foto y el contenido de las preguntas-->    
</body>

<!-- Footer -->
<div class="b-example-divider"></div>
<footer th:insert="fragments/footer" class="text-center text-lg-start bg-light text-muted" ></footer>
<!-- Footer -->
</html>