<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>About</title>
</head>
<header th:insert="fragments/menu :: menu-principal"></header>
<body>


<div class="card container pl-3">

    <h1 class="mb-3 h1 fw-bold mt-4 text-center">Biblioteca del Mar</h1>
    <h4 class="mb-3 h4 fw-bold text-muted text-center">Compromiso con el conocimiento</h4>
    <hr class="my-4">
    <h3 class="mb-3 h3 fw-bold text-center">Origenes</h3>
    <p class=" fw-light ">
      Nuestra biblioteca se fundó en 1934 gracias al esfuerzo de unos estudiantes de la Universidad del Mar con un gran amor por la vida marina. La Biblioteca del Mar sirvió de gran ayuda a los futuros jovenes de la Universidad del Mar para doucmentarse y aprender más, llegando incluso a ser de vital importancia para las investigaciones que se estaban llevando a cabo en las zonas cercanas.
    </p>
    <p class="fw-light">
      Los primeros años de la biblioteca fueron en una sala dentro de la Universidad, aunque era en un lugar bastante lejano de las aulas, la frecuencia de los estudiantes dotó de alegria a toda la zona.</p>
    <p class="fw-light">
      Tras muchos años ayudando a jovenes promesas de la vida marina, en 1977 la bilbioteca recibió una gran ayuda del Ayuntamiento, dotándola asi de identidad propia. Se trasladó a su actual ubicacion y desde entonces ofrece diversos servicios por el bien de la comunidad, manteniendo su esencia estudiantil que tanto la caracterizaba.
    </p>
    <hr class="my-4">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-2">
            <h5 class="mb-3 h5 fw-bold text-center">Innovacion constante</h5>
            <p class=" fw-light ">
              Nuestra biblioteca era pionera en innovaciones y mejoras para poder ofrecer de primera mano los servicios más actualizados posibles. Mantuvo por muchos años un afán por implementar mejoras y incluso expandirse a nivel provincial, permitiendo asi a muchos más lectores conocer y disfrutar de nuestra esencia.
            </p>
            <p class=" fw-light ">
              Tras la pandemia, toda la cultura se paralizó al no tener gente que la consumiera. Durante todo ese tiempo, la bilbioteca ideó maneras para poder seguir en contacto con los lectores. Al llegar la era de la digitalización, surgió la idea de moverse a digital. Haciendo esto, la biblioteca podria cumplir sus expectativas de expansion a nivel provincial, e incluso nacional.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-2 text-center">
            <h5 class="mb-3 h5 fw-bold text-center">Siempre contigo</h5>
            <img th:src="@{img/imgClubLectura.jpg}"  alt="imagen" width="80%">
        </div>
        <div class="col-lg-4 col-md-6 mb-2">
            <h5 class="mb-3 h5 fw-bold text-center">Las mejoras que destacan</h5>
            <p class=" fw-light  ">
              Aunque la biblioteca fue de actualizarse constantemente y de mejorar sus servicios, la era de la digitalización significó un cambio muy intenso y los lectores lo sintieron. Muchos de ellos no podrian acceder de manera comoda como lo hacian antes de manera presencial. 
            </p>
            <p class=" fw-light  ">
              La intencion de la bilioteca siempre fue el poder mantener el contacto con los lectores y hacerlos sentir en casa, por ello, se ideó esta web. 
            </p>
        </div>
        <hr class="my-4">
        <h3 class="h3 fw-bold text-center mb-2">La web</h3>
        <p class=" fw-light ">
          Esta web permite a todos los usuarios de internet poder navegar de mandera muy intutiva, ya que contamos con un fondo especial del Ayuntamiento para la ayuda de personas en situacion de dependencia. La web ha sido durante dos años fuente de inspiracion para otras bilbiotecas a la hora de digitalizarse.
        </p>
        <p class="fw-light">
          A diferencia de otras páginas de bibliotecas, la Biblioteca del Mar se caracteriza por incluir solo lo necesario para una experiencia de usuario satisfactoria. Nada de datos irrelevantes ni informacion innecesaria. La web pretende acercar a todos los usuarios de internet y que distruten de los servicios sin importar su capacidad de desarrollo en la red.</p>
        </div>
    <div class="row mt-2 mb-2">
        <div class=" col-lg-6 col-md-12 col-sm-12 embed-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11607.782830848815!2d-8.4297296!3d43.33632514999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e7cb88050442b%3A0xee9a1939bedf4a70!2sDep%C3%B3sito%20Municipal%20de%20Veh%C3%ADculos!5e0!3m2!1ses!2ses!4v1649411284452!5m2!1ses!2ses" width="480" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div> <!--contenedor mapa-->
        <div class="col-lg-6 col-md-12 col-sm-12">
        	<div>
             	<span class="text-center fw-bold h4 mt-2">Curiosidades y Galardones</span>
            </div>
          <ol class="list-group list-group-numbered mt-1">         
            <li class="list-group-item d-flex justify-content-between align-items-start">         
              <div class="ms-2 me-auto">
                <div class="fw-bold">Mayor cantidad de libros sobre el Megalodón </div>
                Disponemos de casi 150 libros distintos dedicados exclusivamente a esta especie marina extinguida
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Mayor proyecto de cuida de las especies marinas de la zona</div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subacuático</div>
                Secciones amplias de libros sobre la vida marina profunda, hasta contamos con videos!
              </div>
            </li>
          </ol>
          <div class="mt-2">
              <p>En 2017 la Biblioteca del Mar fue galardonada por la consejera de Cultura e Igualdad, por sus programas para el <span class="fw-bold">fomento de la lectura</span> en los más jovenes desarrollados en 2016.</p>
              <p>En 1980, el club de lectura de la Biblioteca del Mar fue galardonado con el premio de <span class="fw-bold">Fomento a la lectura</span>  al promover de manera activa las diferentes actividades de busqueda de vida marina.</p>
          </div> <!--contenedor del texto random-->
        </div> <!--contenedor que agrupa el listado mas el texto-->
    </div> <!--contenedor mapa+premios-->
</div>

</body>

 <!-- Footer -->
<div class="b-example-divider"></div>
<footer th:insert="fragments/footer" class="text-center text-lg-start bg-light text-muted" ></footer>
<!-- Footer -->

</html>